@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* 
======================
MARGIN & PADDING RESET
======================
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #062863;
    font-family: 'Nunito', sans-serif;
}

/* 
=================
BACKGROUND IMAGES
=================
*/

.backImages {
    position: fixed;
}

.top_left {
    left: -10px; 
    top: -60px; 
    height: 200px;
    width: 200px;
}

.top_right {
    right: -100px; 
    top: 1px;
    height: 200px;
    width: 200px;
}

.bottom_left {
    bottom: -40px; 
    left: -50px; 
    height: 200px;
    width: 200px;
}

.bottom_right {
    bottom: -20px;
    right: -75px;
    height: 200px;
    width: 200px;
}

/* 
==========================
PIGGYVEST LOGO & CENTERING
==========================
*/
#piggyvest_logo {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

#piggyvest_logo:hover {
    cursor: pointer;
}

/* 
================
RE-USABLE STYLES
================
*/
.center {
    margin-left: auto;
    margin-right: auto;
}

.bRadius {
    border-radius: 10px 10px 10px 0;
}

/* 
=================
SECTION & HEADING
=================
*/

#head_form_container {
    width: 33%;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px; 
}

#heading {
    color: #083E9E;
    text-align: center;
    margin-top: 30px; 
    font-weight: bolder;
}

#tagline {
    text-align: center;
    margin-bottom: 20px;
    font-size: .85em;
    font-weight: 300;
}

/* 
===============
FORM STYLING
===============
*/
form {
    width: 80%;
}

/* 
=================
Input styles
=================
*/
.inputLabel {
    display: block;
    margin-top: 20px; 
    margin-bottom: 5px;
    color: #4A5568;

    font-weight: 700;
    font-size: .79em;
}

form input {
    width: 100%;
}

.regInput, #selHDYHAU {
    background-color: #EDF2F7;
    height: 50px;
    outline: none;
    border: none;
    padding-left: 15px;
    border-radius: 5px;
}

#selHDYHAU {
    margin-bottom: 15px;
    width: 100%;
    -webkit-appearance: none;
    font-size: 17px;
}

#select_container {
    position:  relative;
}


#select_container:after {
    content: "keyboard_arrow_down";
    font-family: 'material icons';
    font-size: 26px;
    position: absolute;
    top: 35px;
    right: 15px;
    pointer-events: none;
    color: gray;
}

#select_container:before {
    content: "|";
    font-family: 'material icons';
    font-size: 26px;
    position: absolute;
    top: 30px;
    right: 45px;
    pointer-events: none;
    color: gray;
}

button {
    width: 100%;
    height: 55px;
    background-color: #083E9E;
    color: #fff;
    outline: none;
    border: none;
    display: block;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 20px 0 20px 0;
}

button:hover {
    background-color: #062863;
    cursor: pointer;
}

#login_text {
    text-align: center;
    color: #fff;
    font-size: .8em;
    margin-top: 40px;
    margin-bottom: 60px;
    cursor: pointer;
}
#login_text:hover {
    color: #B3AFB0;
}


/* 
===============
Media Queries
===============
*/

@media (min-width: 320px) {
    #piggyvest_logo {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    #tagline {
        font-size: .75em;
        font-weight: 300;
    }
    /* 
        Section Container
    */
    #head_form_container {
        width: 90%;
        margin: auto;
    }

    .top_left {
      display: none;
    }
    
    .top_right {
        right: -20px;
        top: 0px;
        height: 50px;
        width: 50px;
        z-index: -1;
    }
    
    .bottom_left {
        display: none;
    }
    
    .bottom_right {
        bottom: -20px;
        right: -20px;
        height: 50px;
        width: 50px;
    }
}